
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

.logo-image {
	margin: 0;
	width: 150px;
}

.main-nav {
	margin-top: 5px;

}
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #bef32d;
	font-size: .99em;
}

.main-nav a:hover {
	color: #af7405;
}

.header {
	border: 1px solid #797c79;
	background-color: #202020;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.container {
    flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        border-radius: 5px;
        display: flex;
}

.download-button {
	margin: 10px auto;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid rgb(7, 7, 7);
    border-radius:5px;
    background-color: rgb(247, 133, 2);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    color: white;
    font-size: 17px;
    font-weight: bolder;
	
}
.download-button:hover {
background-color: yellowgreen;
box-shadow: 0px 0px 4px rgba(230, 66, 66, 0.75);
}

.download-button a {
	color: rgb(51, 2, 39);
}

.container {
    text-align: center;
}


hr{
	display:block;
	margin:20px auto;
	height:15px;
	width: 450px;
	border:none;
	border-radius: 3px;
	border-left:15px solid #f00000;
	border-right:15px solid #300000;
	animation: KITTAnim 1s infinite ease-in-out alternate;
  }
  
  hr:before{
	content:" ";
	display:inline-block;
	width:15px;
	height:15px;
	border-left:15px solid #06eb3f;
	border-right:15px solid #0adb96;
	animation: KITTAnimBefore 1s infinite ease-in-out alternate;
  }
  
  hr:after{
	content:" ";
	display:inline-block;
	width:15px;
	height:15px;
	border-left:15px solid #ccf004;
	background-color:#ec7474;
	border-right:15px solid #15b807;
	animation: KITTAnimAfter 1s infinite ease-in-out alternate;
  }
  
  hr:nth-child(even)
  {
	animation: KARRAnim 1s infinite ease-in-out alternate;
  }
  
  hr:nth-child(even):after
  {
	animation: KARRAnimAfter 1s infinite ease-in-out alternate;
  }
  
  hr:nth-child(even):before
  {
	animation: KARRAnimBefore 1s infinite ease-in-out alternate;
  }
  
  /**
	  Keyframes
  Do not try at home
  
  **/
  
  
  @keyframes KITTAnim {
	 0% {
		background-color:#f1da07;
		border-left:15px solid #60f000;
		border-right:15px solid #eed706;
	 }
	 10% {
		background-color:#f79708;
		border-left:15px solid #58f000;
		border-right:15px solid #f0a502;
	 }
	 20% {
		background-color:#03eb03;
		border-left:15px solid #5de204;
		border-right:15px solid #cf0707;
	 }
	 30% {
		background-color:#12c1f7;
		border-left:15px solid #6d03f7;
		border-right:15px solid #04f0dc;
	 }
	 40% {
		background-color:#c107fa;
		border-left:15px solid #f30669;
		border-right:15px solid #f1062d;
	 }
	 50% {
		background-color:#ddf314;
		border-left:15px solid #300000;
		border-right:15px solid #300000;
	 }
	 60% {
		background-color:#a3c50b;
		border-left:15px solid #c9f508;
		border-right:15px solid #600000;
	 }
	 70% {
		background-color:#f13c3c;
		border-left:15px solid #044dbb;
		border-right:15px solid #5bf104;
	 }
	 80% {
		background-color:#f00000;
		border-left:15px solid #f1a706;
		border-right:15px solid #0594f3;
	 }
	 90% {
		background-color:#c0f306;
		border-left:15px solid #ebc2c2;
		border-right:15px solid #06f5d5;
	 }
	 100% {
		background-color:#eb0303;
		border-left:15px solid #18ff03;
		border-right:15px solid #0018f0;
	 }
  }
  
  @keyframes KITTAnimBefore {
	 0% {
		background-color:#bbee02;
		border-left:15px solid #0cfa04;
		border-right:15px solid #c3f707;
	 }
	 10% {
		background-color:#0c78f3;
		border-left:15px solid #04f8ec;
		border-right:15px solid #f804ec;
	 }
	 20% {
		background-color:#fa0979;
		border-left:15px solid #9800f0;
		border-right:15px solid #17f702;
	 }
	 30% {
		background-color:#f00000;
		border-left:15px solid #0bfafa;
		border-right:15px solid #48ee06;
	 }
	 40% {
		background-color:#99f702;
		border-left:15px solid #ac9898;
		border-right:15px solid #4d4a4a;
	 }
	 50% {
		background-color:#bba7a7;
		border-left:15px solid #a86e6e;
		border-right:15px solid #8f8080;
	 }
	 60% {
		background-color:#7a5656;
		border-left:15px solid #afa4a4;
		border-right:15px solid #634343;
	 }
	 70% {
		background-color:#b1a0a0;
		border-left:15px solid #cc7474;
		border-right:15px solid #582222;
	 }
	 80% {
		background-color:#e93030;
		border-left:15px solid #f7acac;
		border-right:15px solid #8d3d3d;
	 }
	 90% {
		background-color:#eb6e6e;
		border-left:15px solid #0bf7a8;
		border-right:15px solid #05b9b0;
	 }
	 100% {
		background-color:#ac1414;
		border-left:15px solid #5ee206;
		border-right:15px solid #b0f002;
	 }
  }
  
  @keyframes KITTAnimAfter {
	 0% {
		background-color:#d89292;
		border-left:15px solid #c77878;
		border-right:15px solid #464040;
	 }
	 10% {
		background-color:#cf9090;
		border-left:15px solid #ca9292;
		border-right:15px solid #6e5656;
	 }
	 20% {
		background-color:#cf4e4e;
		border-left:15px solid #ac6767;
		border-right:15px solid #5f3b3b;
	 }
	 30% {
		background-color:#16a5e7;
		border-left:15px solid #0f9ef1;
		border-right:15px solid #039e9e;
	 }
	 40% {
		background-color:#07a7e6;
		border-left:15px solid #0abce9;
		border-right:15px solid #087be7;
	 }
	 50% {
		background-color:#04f3cb;
		border-left:15px solid #00d4f0;
		border-right:15px solid #004ba0;
	 }
	 60% {
		background-color:#00b8f0;
		border-left:15px solid #09e2f1;
		border-right:15px solid #0083c0;
	 }
	 70% {
		background-color:#04fcfc;
		border-left:15px solid #02f1b6;
		border-right:15px solid #0084f0;
	 }
	 80% {
		background-color:#04fcb1;
		border-left:15px solid #07e3f3;
		border-right:15px solid #0783f7;
	 }
	 90% {
		background-color:#e07070;
		border-left:15px solid #b38b8b;
		border-right:15px solid #854949;
	 }
	 100% {
		background-color:#ac9e9e;
		border-left:15px solid #a16161;
		border-right:15px solid #aa6d6d;
	 }
  }
  @keyframes KARRAnim {
	 0% {
		background-color:#333300;
		border-left:15px solid #00ff0d;
		border-right:15px solid #333300;
	 }
	 10% {
		background-color:#333300;
		border-left:15px solid #064cce;
		border-right:15px solid #333300;
	 }
	 20% {
		background-color:#333300;
		border-left:15px solid #06bae7;
		border-right:15px solid #333300;
	 }
	 30% {
		background-color:#333300;
		border-left:15px solid #bd04ad;
		border-right:15px solid #333300;
	 }
	 40% {
		background-color:#333300;
		border-left:15px solid #eb0593;
		border-right:15px solid #333300;
	 }
	 50% {
		background-color:#4c4c00;
		border-left:15px solid #eeee10;
		border-right:15px solid #333300;
	 }
	 60% {
		background-color:#808000;
		border-left:15px solid #b6b61b;
		border-right:15px solid #4c4c00;
	 }
	 70% {
		background-color:#cfcf7b;
		border-left:15px solid #333300;
		border-right:15px solid #808000;
	 }
	 80% {
		background-color:#00ff2a;
		border-left:15px solid #333300;
		border-right:15px solid #00b4cc;
	 }
	 90% {
		background-color:#00ccbb;
		border-left:15px solid #333300;
		border-right:15px solid #02da5c;
	 }
	 100% {
		background-color:#cc0033;
		border-left:15px solid #333300;
		border-right:15px solid #ea00ff;
	 }
  }
  
  @keyframes KARRAnimBefore {
	 0% {
		background-color:#808000;
		border-left:15px solid #75751f;
		border-right:15px solid #4c4c00;
	 }
	 10% {
		background-color:#808000;
		border-left:15px solid #db64df;
		border-right:15px solid #4c4c00;
	 }
	 20% {
		background-color:#cccc00;
		border-left:15px solid #4596aa;
		border-right:15px solid #808000;
	 }
	 30% {
		background-color:#ffff00;
		border-left:15px solid #29b46f;
		border-right:15px solid #cccc00;
	 }
	 40% {
		background-color:#cccc00;
		border-left:15px solid #af5f39;
		border-right:15px solid #ffff00;
	 }
	 50% {
		background-color:#808000;
		border-left:15px solid #6251b3;
		border-right:15px solid #cccc00;
	 }
	 60% {
		background-color:#4c4c00;
		border-left:15px solid #b61a94;
		border-right:15px solid #808000;
	 }
	 70% {
		background-color:#333300;
		border-left:15px solid #12cccc;
		border-right:15px solid #4c4c00;
	 }
	 80% {
		background-color:#333300;
		border-left:15px solid #8b8b83;
		border-right:15px solid #333300;
	 }
	 90% {
		background-color:#333300;
		border-left:15px solid #9b9b47;
		border-right:15px solid #333300;
	 }
	 100% {
		background-color:#333300;
		border-left:15px solid #d3d326;
		border-right:15px solid #333300;
	 }
  }
  
  @keyframes KARRAnimAfter {
	 0% {
		background-color:#28fcbc;
		border-left:15px solid #b8b814;
		border-right:15px solid #379994;
	 }
	 10% {
		background-color:#b74ccc;
		border-left:15px solid #f12d3e;
		border-right:15px solid #a5a575;
	 }
	 20% {
		background-color:#a8a88b;
		border-left:15px solid #dada08;
		border-right:15px solid #a0a025;
	 }
	 30% {
		background-color:#f8f89d;
		border-left:15px solid #9467e9;
		border-right:15px solid #aaaa10;
	 }
	 40% {
		background-color:#808000;
		border-left:15px solid #fa1977;
		border-right:15px solid #4c4c00;
	 }
	 50% {
		background-color:#f0465c;
		border-left:15px solid #b408d6;
		border-right:15px solid #02df39;
	 }
	 60% {
		background-color:#ffff00;
		border-left:15px solid #cccc00;
		border-right:15px solid #cccc00;
	 }
	 70% {
		background-color:#cccc00;
		border-left:15px solid #03d832;
		border-right:15px solid #05e2c5;
	 }
	 80% {
		background-color:#808000;
		border-left:15px solid #d4d40c;
		border-right:15px solid #f109e6;
	 }
	 90% {
		background-color:#df15a2;
		border-left:15px solid #d8d837;
		border-right:15px solid #3e48cf;
	 }
	 100% {
		background-color:#4c4c00;
		border-left:15px solid #06ced4;
		border-right:15px solid #003780;
	 }
  }